.homepage-container {
  height: 100%;
}
.homepage-event-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  align-items: center;
}
.homepage-event {
  width: 15em;
  padding: 1em;
  border-radius: 10px;
  border: 4px solid #FBFAFB;
  color: #FBFAFB;
  background-color: #4e606b;
  text-align: center;
  cursor: pointer;
  font-family: Verdana, Geneva, sans-serif;
}
.homepage-event:hover {
  color: #000000;
  border-color: #000000;
}
.homepage-photos-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}
.homepage-photos-container > img {
  height: calc(100vh * 0.4);
  width: calc(100vw * 0.33);
}
.photo-credit {
  margin-top: 1em;
  text-align: center;
}
.photo-credit > a {
  font-weight: bold;
}
