.homepage-container {
  background: url("../../assets/logo.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homepage-location {
  color: #5f5b5b;
  text-align: center;
  width: 100%;
  margin-top: 1em;
  font-weight: bolder;
}
.homepage-navigation {
  height: calc(100vh - 5em);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.homepage-navigation-buttons {
  width: 100%;
  position: relative;
  bottom: 1em;
}
.homepage-events {
  background-color: #a23434d1;
}
