.events-details {
  background-color: var(--white);
  color: #000000;
  text-align: center;
  margin-bottom: 4px;
}
@media (min-width: 415px) {
  .events-details {
    background-color: #1E152AD4;
    border: solid 5px #1E152AD4;
    border-radius: 50%;
    color: var(--white);
    padding: 2em;
    margin-bottom: 0;
  }
  .events-details:hover {
    background-color: #EACD62C2;
    color: var(--purple);
  }
}
