.photos-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: center;
}
.photos-container > img {
  height: 40vh;
  object-fit: contain;
  margin-bottom: 2em;
}
@media only screen and (min-width: 700px) {
  .photos-container > img {
    height: 80vh;
  }
}
.photos-credit {
  margin-bottom: 0.5em;
}
.photos-credit > a {
  font-weight: bold;
}
