.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app-socialmedia {
  display: flex;
  justify-content: center;
  background-color: var(--white);
}
.app-splash {
  position: relative;
}
@media (min-width: 415px) {
  .mobile {
    display: none;
  }
  .app-socialmedia {
    display: flex;
    justify-content: flex-end;
    z-index: 3;
    background-color: transparent;
  }
  .app-splash {
    position: absolute;
    height: 100vh;
    top: 0;
  }
  .app-events {
    position: absolute;
    top: 50%;
    right: 4%;
  }
  .app-navigation {
    position: absolute;
    bottom: 3em;
    width: 100%;
  }
}
@media (max-width: 414px) {
  .desktop {
    display: none;
  }
}
