.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app-socialmedia {
  display: flex;
  justify-content: center;
  background-color: var(--white);
}
@media (min-width: 415px) {
  .app-socialmedia {
    display: flex;
    justify-content: flex-end;
    z-index: 3;
    background-color: transparent;
  }
}
