.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app-socialmedia {
  display: flex;
  justify-content: flex-end;
  z-index: 3;
}
.app-splash {
  position: absolute;
  top: 0;
  height: 100vh;
}
