.merch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
}
.merch-title {
  margin: 1em;
  color: var(--yellow);
}
.merch-item {
  display: inline-block;
  background-color: white;
  padding: 1em;
}
.merch-item-image {
  height: 40vh;
}
.merch-item-image > img {
  height: 90%;
}
.merch-item-price {
  text-align: center;
}
