.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid #31081F;
  border-width: 2px 0;
}
a {
  text-decoration: none;
}
.navigation-button {
  padding: 0.5em;
  font-weight: bold;
  cursor: pointer;
}
.navigation-button:hover {
  color: #632638;
}
