.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}
.navigation-button {
  border: solid #e2a4a4 2px;
  border-radius: 1em;
  padding: 0.5em;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  color: #e2a4a4;
  background-color: #792727d1;
  cursor: pointer;
}
.navigation-button:hover {
  border-color: white;
  color: white;
}
