.socialmedia-link {
  margin-top: 2em;
  margin-left: 0.5em;
  height: 3em;
  width: 3em;
  cursor: pointer;
}
#youtube.socialmedia-link {
  height: 2.5em;
  width: 3em;
}
.socialmedia-icon {
  width: 100%;
}
