.member-no-access-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #101211;
}
.member-no-access-footer {
  background-color: #101211;
  flex-grow: 1;
}
.member-no-access-container > .message {
  color: white;
  margin: 1em;
}
