.clips-container {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  background-color: #fbfafb;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 10%;
  width: 80%;
  padding: 1em 0;
}
.clips-event-container {
  margin: 2em;
}
.clips-event-container > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #6B1D28;
}
.clips-links-container {
  display: flex;
  justify-content: center;
}
.clips-links-container > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
  color: #6B1D28;
}
.clip-img {
  height: 2em;
  width: 2em;
  margin-right: 0.5em;
}
