.clips-container {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  background-color: #fbfafb;
  margin-top: 4px;
  padding: 1em 0;
}
.clips-title {
  font-size: 1em;
  font-weight: 900;
}
.photo-credit {
  font-size: 0.75em;
}
.clips-event {
  margin: 2em;
}
.clips-event > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #6B1D28;
}
.clips-event-links {
  display: flex;
  justify-content: center;
  font-size: 0.75em;
}
.clips-event-links > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
  color: #6B1D28;
}
.clip-img {
  height: 2em;
  width: 2em;
  margin-right: 0.5em;
}
@media (min-width: 415px) {
  .clips-container {
    width: 80%;
    margin: 3em 10%
  }
  .clips-title {
    font-size: 2em;
  }
  .photo-credit {
    font-size: 1em;
  }
  .clips-event-title {
    font-size: 1.5em;
  }
  .clips-event-links {
    font-size: 1em;
  }
}
