body {
  margin: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #595959;
}

.green {
  color: #808F85;
}
.green-background {
  background-color: #808F85;
}
.grey {
  color: #595959;
}
.grey-background {
  background-color: #595959;
}
.purple {
  color: #31081F;
}
.purple-background {
  background-color: #31081F;
}
.red {
  color: #632638;
}
.red-background {
  background-color: #632638;
}
.white {
  color: #FBFAFB;
}
.white-background {
  background-color: #FBFAFB;
}
