:root {
  --blue: #0a9fb1;
  --green: #4E6766;
  --purple: #1E152A;
  --red: #541225;
  --white: #FBFAFB;
  --yellow: #EACD62;
}
body {
  margin: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #541225;
}
a {
  text-decoration: none;
  color: inherit;
}
